// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body {
  background-image: url("assets/ring.webp");
  background-repeat: no-repeat;
  height: 100%;
  background-color: #f9c89a;
}

.image {
    width: 400px;
}